@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");

body {
  width: 100vw;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary: #5468ff;
  --secondary: #378ce7;
  --tertiary: #dff5ff;
  --startColor: hsl(0, 100%, 75%);
  --stopColor: hsl(0, 100%, 75%);
}

a{
  text-decoration: none;
  color: var(--primary);
}

.main {
  width: 100%;
  height: 100%;
  position: fixed;
}

.main > div {
  width: 50%;
  height: 100%;
}

.left {
  background-color: var(--primary);
  padding: 3%;
  height: 100%;
}

.right {
  /* background-color: var(--tertiary); */
  padding: 3% 3% 3% calc(3% + 15px);

  height: 100%;
  backdrop-filter: blur(4px);
}

.welcome-head {
  color: white;
  font-size: 3rem;
  font-weight: 900;
}

.welcome-text {
  color: white;
  font-weight: 400;
  margin-top: 5px;
  text-align: justify;
  padding-right: calc(3% + 15px);
}

footer {
  font-size: 0.9rem;
}

.blob-design-container {
  position: relative;
  height: 150px;
  bottom: 3%;
}

.blob-design {
  width: 150px;
  height: 150px;
  position: relative;
}

.blob-design .circle {
  width: 110px;
  height: 110px;
  /* background-color: var(--tertiary); */
  border-radius: 50%;
  position: absolute;
  right: 0;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.blob-design .rectangle {
  width: 150px;
  height: 40px;
  /* background-color: var(--tertiary); */
  position: absolute;
  transform: rotate(90deg);
  left: -55px;
  bottom: 55px;
  border-radius: 2px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.blob-design .triangle {
  width: 0;
  height: 0;
  border-left: 110px solid transparent;
  border-right: 110px solid var(--tertiary);
  border-top: 110px solid transparent;
  position: absolute;
  bottom: 0;
  right: 0px;
  border-radius: 2px;
  backdrop-filter: blur(4px);
}

.waves {
  position: absolute;
  right: -25px;
  top: -10px;
  z-index: 5;
}

.wave {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #dff5ff;
  background: linear-gradient(
    90deg,
    rgba(223, 245, 255, 1) 10%,
    rgba(84, 104, 255, 1) 80%
  );
}

.wave:nth-child(2n + 1) {
  background: #5468ff;
}

.sign-up-text {
  font-weight: 700;
  font-size: 1.6rem;
}

label {
  font-size: 0.85rem;
}

.right-content-form {
  margin-top: 20px;
  width: 100%;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 70%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px 0 20px;
}

button {
  width: 70%;
  text-align: center;
  border: 1px solid #ccc;
  background-color: var(--primary);
  color: white;
  padding: 12px;
  margin-top: 5px;
  border-radius: 5px;
}


.valid-password {
  font-size: 0.65rem;
  color: #707070;
  width: 70%;
  margin-bottom: 20px;
}

.valid-password > div {
  font-size: 0.85rem;
  margin-top: 2px;
}

.pass-input:focus {
  margin-bottom: 15px;
}

.valid-password {
  display: none;
  transition: all 1s;
}

.invalid{
  color: red;
}

.valid{
  color: #50C878;
}

.login-text{
  font-size: 0.75rem;
  color: #707070;
  text-decoration: none;
}

.login-text a{
  color: var(--primary);
  text-decoration: none;
}

label{
  text-align: start;
  position: relative;
  left: 0;
  width: 70%;
}

.terms{
  font-size: 0.75rem;
  color: #707070;
}

.pass-items{
  background-color: #feeced;
  width: fit-content;
}